<header>
    <a href="/"><h1>PodClub</h1></a>

    <ul>
        <a href="/podpicker"><li><img src="imgs/icons/search.svg">PodPicker</li></a>
        <li><img src="imgs/icons/work.svg">Careers</li>
        <li><img src="imgs/icons/payments.svg">Crypto</li>
    </ul>
</header>