<html>
    <head>
        <title>PodClub — Error 404!</title>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h2>404 - Page Not Found!</h2>
        <p>Looks like you wandered off the beaten path! Let Mr. Pod guide you back to safety!</p>
    </body>
</html>